<head>
  <title>SVGs</title>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/javascript">filepicker.setKey('AQpUk6t1THSrwjorkTnRAz')</script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="span8">
        {{loginButtons align="left"}}
      </div>
    </div>
    {{#if currentUser}}
      <div class="row">
        <div class="span8">
          {{> input}}
        </div>
      </div>
      <h4>Your Images</h4>
      <div class="row">
        <div class="span8">
          {{> svgs}}
        </div>
      </div>
    {{/if}} 
    <div class="row">
      <div class="span8">
        <h4>Help</h4>
        <p>
          Upload your SVG images and download them in different
          formats and sizes by specifying URL parameters.
        </p>
        {{#if currentUser}}
          <p>
            After uploading, click on <i class="icon-road"> </i> to see example URLs.
          </p>
        {{else}}
          <p>
            Sign in to start please!
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</body>

<template name="input">
  <button id="upload" class="btn btn-primary btn-large">Upload&nbsp;SVG</button>
</template>

<template name="svgs">
  <table class="table table-striped">
    <thead><tr><th>Name</th><th>Original as PNG</th><th></th><th></th></tr></thead>
    {{#each svgs}}
      {{> svg_item}}
    {{/each}}
  </table>
</template>

<template name="svg_item">
  <tr>
    <td><p class="muted">{{name}}</p></td>
    <td><p class="text-info"><a href="{{origin}}/img/{{uuid}}">{{origin}}/img/{{uuid}}</a></p></td>
    <td>
      <a href="#" data-toggle="modal"
         data-target="#svg_item_modal{{uuid}}"><i class="icon-road"> </i></a>
      {{> svg_item_modal}}
    </td>
    <td><a class="trash" href="#"><i class="icon-trash"> </i></a></td>
  </tr>
</template>

<template name="svg_item_modal">
  <div id="svg_item_modal{{uuid}}"
       class="modal hide fade modal-big">
    <div class="modal-header">
      <h5>Examples:</h5>
    </div>
    <div class="modal-body">
      {{#each examples}}
        <p><a href="{{origin}}/img/{{../uuid}}?{{this}}"><span class="muted">{{origin}}/img/{{../uuid}}</span><span class="text-error">?{{this}}</span></a></p>
      {{/each}}
    </div>
  </div>
</template>
